:root { 
--gray_600:#707070; 
--black_900_42:#00000042; 
--gray_400:#b6b6b6; 
--gray_500:#9b9b9b; 
--black_900:#000000; 
--blue_800:#1b78ba; 
--blue_A200:#4285f4; 
--white_A700:#ffffff; 
--blue_800_01:#1979bb; 
--gray_100:#f5f5f5; 
--indigo_600:#3c5a9a; 
}